@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url(./assets/images/background.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mona sans';
}

body {
    --x-0: 91%;
    --c-0: hsla(232.5, 0%, 0%, 1);
    --y-0: 90%;
    --y-1: 24%;
    --c-1: hsla(75, 0%, 0%, 1);
    --x-1: 17%;
    --y-2: 32%;
    --x-2: 11%;
    --c-2: hsla(232.5, 25%, 12%, 1);
    --x-3: 2%;
    --y-3: 31%;
    --c-3: hsla(254.00000000000034, 4%, 40%, 1);
    --y-4: 93%;
    --c-4: hsla(349, 0%, 0%, 1);
    --x-4: 74%;
    ;
    background-color: hsla(232.5, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
    background-attachment: fixed;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 10px auto;
    padding: 1rem;
    background-color: rgb(255,255,255,.9);
    border-radius: .7rem;
}

:root {
    --primaryColor: rgb(47, 53, 66);
    --secondaryColor: rgb(87, 96, 111);
    --textColor: rgb(241, 242, 246);
}